.cart-popup {
  width: 22em;
  padding: 0.6em;
  font-size: 1rem;

  position: absolute;
  top: 1.2em;
  right: 0;

  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-flow: column nowrap;

  border: var(--border);
  border-radius: var(--border-radius);
  background-color: var(--background-color);
  box-shadow: var(--box-shadow-light);

  .cart-items-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-flow: column nowrap;

    list-style-type: none;
  }

  .empty-display {
    margin: 1em 0 3em;
    width: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;

    .empty-text {
      display: block;
      margin-top: 0.4em;
    }
  }

  .cart-info {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    margin: 0.8em 0;
    margin-top: auto;
    font-weight: 700;
    padding: 0.5em 0;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: var(--border-color-light);
  }

  .cta-button-wrappers {
    width: 100%;
    display: flex;
    align-items: center;
    justify-items: center;

    & > a:nth-of-type(1) {
      margin-right: auto;
    }
  }
}
