.modal-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  user-select: none;
  visibility: hidden;
  pointer-events: none;
  backdrop-filter: blur(4px);
  background-color: var(--background-color-grey-hover);

  &.active {
    visibility: visible;
    pointer-events: all;
    cursor: pointer;
  }
}
