.header {
  width: 100%;
  padding: 0.6em 1em;

  display: flex;
  align-items: center;
  justify-content: space-between;

  position: sticky;
  top: 0;
  left: 0;
  box-shadow: var(--box-shadow-light);
  background-color: var(--background-color);
  z-index: 10;
}
