.product-carousel {
  padding: 1em;

  .carousel-title {
    margin: 0.6em 0;
    font-size: 1.8rem;
    font-weight: 700;
    font-weight: 700;
    position: relative;
    display: inline-block;
    text-transform: capitalize;

    &.vertical-carousel-title {
      font-size: 1.3rem;

      &::after {
        content: "";
        display: block;
        position: absolute;
        bottom: -0.1em;
        right: -0.4em;
        width: 2em;
        height: 0.09em;
        transition: transform 0.2s ease;
        border-radius: var(--border-radius);
        background-color: var(--primary-color);
      }
    }
  }

  .product-carousel-wrapper {
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow-x: scroll;
    list-style-type: none;
  }

  &.product-verical-carousel {
    padding: 0.2em;
    width: max-content;

    .product-list-carousel-wrapper {
      list-style-type: none;
    }

    &:hover {
      .vertical-carousel-title {
        &::after {
          transform: translateX(-10px);
        }
      }
    }
  }
}
