.icon-button-wrapper {
  border: none;
  outline: none;
  user-select: none;
  position: relative;
  background-color: transparent;
  transition: background-color 0.2s ease, transform 0.2s ease,
    visibility 0.2s ease;

  svg {
    width: 1.7rem;
    pointer-events: none;
    fill: var(--text-color);
    transition: fill 0.2s ease, transform 0.2s ease;
  }

  &:hover {
    transform: translateY(-2px);
  }

  &:active {
    transform: scale(0.99);
  }
}
