.navigation {
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: space-between;

  position: relative;
}

.header-popups {
  width: 100%;
  position: absolute;
  right: 0;
}
